p {
    color: rgb(249, 255, 255);
}

h1,
h2,
h3,
h4,
h6 {
    color: rgb(120, 176, 50);
}

img {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(105, 105, 105);
}

body {
    background-color: rgb(34, 34, 34);
}


/* using an ID selector */

#google_link {
    background-color: aliceblue;
}

/* using a class selector */
.heading2 {
    border-style: double;
    border-color: chartreuse;
    color: crimson
}

#list {
    color:green; /* this colours the bullet points of my list */   
}
/*
ul li:nth-child(4) {
    background-color:chocolate;
    padding: 10px;
    margin: 25px;
}*/
ul li {
    background-color:antiquewhite;
    padding: 1px;
    margin: 2px;
}
