html{
    background-color:darkslategrey;
    padding: 10px;
}

body{
    
}

img{
    border-style:groove; 
}

/* testing using # IDs for changing my CSS */
#topHeader{
    background-color: orange;
    color: whitesmoke; 
}

.otherHeaders{
    color: yellow
}